.nav-bar {
  background-color: white;
  border-bottom: 1px solid black;
  padding: 10px 0;
}
.nav-bar .nav-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .nav-container .logo {
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
}

.nav-bar .nav-container .search-bar {
  display: flex;
  align-items: center;
}
.nav-bar .nav-container .search-bar .search-input {
  width: 350px;
  padding: 10px 15px;
  border: 2px solid rgb(61, 83, 235);
}
.nav-bar .nav-container .search-bar .search-btn {
  height: 39.2px;
  width: 39.2px;
  border: 1px solid rgb(61, 83, 235);
  background-color: rgb(61, 83, 235);
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-bar .nav-container .nav-right-side {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-bar .nav-container .nav-right-side a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

.nav-bar .nav-container .nav-right-side .nav-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-bar .nav-container .nav-right-side .nav-btn * {
  display: block;
}
.nav-bar .nav-container .nav-right-side .user-login-btn {
  display: flex;
  align-items: center;
}
.nav-bar .nav-container .nav-right-side .user-login-btn span {
  margin-left: 10px;
  font-size: 1.3rem;
}
